@import "page-1.css";
@import "page-2.css";
@import "page-3.css";
@import "page-4.css";
@import "page-5.css";
@import "page-6.css";
.section.item-1 ,
.section.item-2 ,
.section.item-3 ,
.section.item-4 ,
.section.item-6 {
  text-align: center;
  font: 50px "Microsoft Yahei";
  color: #fff;
}
