$imgpath: '../images';
body,
a,
input, button, textarea{
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


body,
h1, h2, h3, h4, h5, h6,
p, ul, ol,
dl, dd, dt{
  margin: 0;
  padding: 0;
}


ul{
  list-style: none;
}


i, em{
  font-style: normal;
}


h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}


input, button, textarea,
img{
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

a{
  text-decoration: none;
}


// 公共样式类
.clearfix{
  zoom: 1;

  &:before,
  &:after{
    content: '';
    display: block;
    height: 0;
    line-height: 1px;
    width: 100%;
    clear: both;
  }
}

.fleft{
  float: left;
}

.fright{
  float: right;
}
.abs{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
// 弹窗
.dialog{
  @extend .abs;
  position: fixed;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  word-break: break-all;
  z-index: 9999;
}

@keyframes rotate {
  0%{
    transform: rotate(0)
  }
  100%{
    transform: rotate(360deg)
  }
}
html,body{
  margin: 0px;
  padding: 0px;
}
#chaoshang {
  min-width: 1202px;
  max-width: 1920px;
  margin: auto;
  div, section {
    box-sizing: border-box;
    color: #fff;
  }
  ul>li{
    font-size: 18px;
    padding: 0px 0px 9px;
  }
  .container {
    width: 1202px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .canhui{
    cursor: pointer;
    width: 192px;
    height: 193px;
    position: fixed;
    bottom: 170px;
    right: 65px;
    z-index: 500;
    background-image: url("#{$imgpath}/btn_1.png");
    &:hover{
      transform: scale(1.05,1.05);
    }
    span{
      position: absolute;
      top: 50px;
      left: 61px;
      transform-style: preserve-3d;
      z-index: 999;
      color: #ffffff;
      font-size: 35px;
      font-weight: bold;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
    .btn_2{
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
      background: url("#{$imgpath}/btn_2.png") no-repeat center top;
      background-size:contain;
      animation: rotate 1s linear infinite;
    }

  }

  nav#nav {
    width: 100%;
    min-width: 1202px;
    max-width: 1920px;
    position: fixed;
    top: 0px;
    left: auto;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    main {
      height: 47px;
      margin: 15px auto;
      a {
        color: #fff;
        font-size: 18px;
        line-height: 45px;
      }
      a + a {
        margin-left: 56px;
      }
    }

  }
  section {
    padding-top: 85px;
    .title {
      width: 617px;
      height: 102px;
      margin: 0px auto;
    }
  }
  section.banner {
    height: 1111px;
    padding-top: 821px;
    background: #000128 url("#{$imgpath}/banner.jpg") no-repeat center top;
    .describe{
      height: 67px;
      text-align: center;
      font-size: 26px;
      line-height: 40px;
      color: #fff;
      margin-bottom: 65px;
    }
    .join-btn {
      width: 388px;
      height: 79px;
      margin: 0px auto;
      background-image: linear-gradient(90deg, #fcf7b7 0%, #ec8f52 100%),
      linear-gradient(#ffffff, #ffffff);
      background-blend-mode: normal, normal;
      border-radius: 39px;
      cursor: pointer;

      font-family: FZLTCHJW--GB1-0;
      font-size: 35px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 79px;
      letter-spacing: 2px;
      color: #31070b;
      text-align: center;
    }
  }
  section#hzjg {
    height: 1102px;
    background:#0b1244 url("#{$imgpath}/hzjgbg.jpg") no-repeat center top;
    .title{
      background: url("#{$imgpath}/hzjg.png");
    }
    .body{
      width: 896px;
      //height: 735px;
      margin: 75px auto 0px;
      .item{
        display: flex;
        margin-top: 30px;
        .type{
          width: 200px;
          font-size: 20px;
          font-weight: bold;
          line-height: 82px;
          height: 82px;
          text-align: right;
          padding-right: 25px;
        }
        .org-box{
          width: 696px;
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          .org{
            //width: 200px;
            height: 82px;
            img{
              //width: 100%;
              //height: 100%;
            }
          }
          .org + .org{
            margin-left: 18px;
          }
        }

      }
    }
  }
  section#ltjj {
    height: 950px;
    padding-top: 99px;
    background: #000003 url("#{$imgpath}/ltjjbg.jpg") no-repeat center top;
    .title{
      background: url("#{$imgpath}/ltjj.png");
    }
    .tabs{
      display: flex;
      width: 902px;
      height: 67px;
      margin: 0px auto;
      position: relative;
      top: 90px;
      border: solid 1px #faedc4;
      .tab{
        cursor: pointer;
        width: 450px;
        height: 100%;
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 65px;
        letter-spacing: 0px;
        text-align: center;
        color: #faedc4;
        background-image: linear-gradient(35deg,#211d6a,#0a011d);
      }
      .tab-selected{
        background-image: linear-gradient(180deg,
                #faedc6 0%,
                #f9e7ac 50%,
                #f7e192 100%);
        color: #31070b;

      }

    }
    .body{
      width: 1201px;
      height: 502px;
      margin-top: 58px;
      border-radius: 5px;
      border: solid 1px #faedc4;
      display: flex;
      #zhongzhi,#beijing{
        margin: auto;
        width: 982px;
        font-size: 18px;
        line-height: 40px;
        p{
          word-break: break-all;
          text-indent: 35px;
        }
      }
    }
  }
  section#ycan {
    background-color: #0b1244;
    padding-top: 86px;
    padding-bottom: 84px;
    .title{
      background: url("#{$imgpath}/ycap.png");
    }
    .body{
      width: 1052px;
      margin: 90px auto 0px;
      .tabs{
        display: flex;
        height: 82px;
        border-top: solid 1px #faedc4;
        border-bottom: solid 1px #faedc4;
        border-left: solid 1px #faedc4;
        .tab{
          cursor: pointer;
          width: 50%;
          height: 100%;
          font-size: 22px;
          line-height: 80px;
          color: #faedc4;
          text-align: center;
          border-right: solid 1px #faedc4;
        }
        .tab-selected{
          background-image: linear-gradient(180deg,
                  #faedc6 0%,
                  #f9e7ac 50%,
                  #f7e192 100%);
          color: #31070b;
        }

      }
      .describe{
        margin: 55px auto 32px;
      }
      .schedule{
        height: 59px;
        line-height: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }
      .meeting-item{
        display: flex;
        .time,.contend{
          line-height: 60px;
          font-size: 18px;
        }
        .time{
          display: flex;
          align-items: center;
          width: 303px;
          text-align: center;
          border-right: 1px solid #090e36;
          div{
            padding-left: 100px;
          }
        }
        .contend,contend-1{
          text-align: left;
          padding-left: 20px;
        }
        .contend-1{
          font-size: 18px;
          line-height: 30px;
          padding: 15px 20px 15px
        }
      }
      .meeting-item:nth-of-type(even){
        background-color: #22274a;
      }
      .meeting-item:nth-of-type(odd){
        background-color: #090e36;
      }

    }


  }
  section#nyqjb {
    height: 1020px;
    padding-top: 99px;
    background: #090c25 url("#{$imgpath}/nyqjbbg.jpg") no-repeat center top;
    .title {
      background: url("#{$imgpath}/nyqjb.png");
    }
    .body{
      display: flex;
      justify-content: space-between;
      align-content: stretch;
      align-item: stretch;
      flex-wrap: wrap;
      width: 1022px;
      margin: 77px auto 0px;
      .people{
        align-self: stretch;
        display: flex;
        width: 470px;
        border-bottom: 1px solid transparent;
        .name{
          padding-top: 15px;
          padding-bottom: 15px;
          width: 120px;
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
          background-color: rgba(255,255,255,0.15);
          display: flex;
          div{
            color: #faecc3;
            margin: auto;
          }
        }
        .describe{
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: left;
          font-size: 16px;
          line-height: 30px;
          display: inline-block;
          width: 345px;
          background-color: rgba(255,255,255,0.15);
          margin-left: 1px;
          padding-left: 20px;
          display: flex;
          div{
            align-self: center;
          }
        }
      }
    }
  }
  section#bmch {
    height: 1277px;
    padding-top: 100px;
    background: #0b1247 url("#{$imgpath}/bmchbg.jpg") no-repeat center top;
    .title {
      background: url("#{$imgpath}/bmch.png");
    }
    .sub-title{
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .ways{
      width: 1198px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      .contact{
        width: 351px;
        .name{
          font-size: 22px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: 1px;
        }
        .image{
          display: flex;
          margin-top: 22px;
          width: 354px;
          height: 163px;
          background: url("#{$imgpath}/contact.png") no-repeat;
          .people{
            width: 130px;
            height: 100%;
            line-height: 160px;
            font-size: 30px;
            font-weight: bold;
            color: #faecc3;
            text-align: center;
          }
          .number{
            height: 100%;
            padding-left: 7px;
            .tel,.phone{
              text-align: left;
              font-size: 20px;
            }
            .tel{
              margin-top: 46px;
              height: 25px;
              line-height: 25px;
              img{
                height: 100%;
                margin-right: 12px;
              }
            }
            .phone{
              margin-top: 21px;
              height: 29px;
              line-height: 29px;
              img{
                height: 100%;
                margin-right: 15px;
                margin-left: 4px;
              }
            }
          }

        }
      }

    }
    .medias{
      display: flex;
      flex-wrap: wrap;
      width: 905px;
      margin-left: auto;
      margin-right: auto;
      .media{
        width: 181px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin-bottom: 10px;
        border-top: solid 1px #999999;
        border-bottom: solid 1px #999999;
        border-right: solid 1px #999999;
        &:nth-child(5n+1){
          border-left: solid 1px #999999;
        }
      }
    }
  }
  .dialog-1{
    width: 100%;
    height: 100%;
    min-width: 1202px;
    max-width: 1902px;
    position: fixed;
    top: 0px;
    left: auto;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    transition: all 0.2s;
    main{
      width: 1001px;
      height: 500px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      color: #3a3332;
      .title{
        height: 81px;
        line-height: 81px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        position: relative;
        color: #31070b;
        background-image: linear-gradient(180deg,
                #faedc6 0%,
                #f9e7ac 50%,
                #f7e192 100%);
        .close{
          width: 41px;
          height: 41px;
          position: absolute;
          top: 21px;
          right: 10px;
          background-image: url("#{$imgpath}/close.png");
        }
      }
      .massage{
        width: 100%;
        height: 186px;
        margin-top: 58px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .item{
          height: 50px;
          width: 443px;
          font-size: 18px;
          line-height: 50px;
          text-align: left;
          color: #3a3332;
          input{
            width: 321px;
            height: 100%;
            padding-left: 10px;
            font-size: 18px;
            line-height: 50px;
            background-color: #dcdcdc;
            border-radius: 5px;
            margin-left: 10px;
            box-sizing: border-box;
          }
          span{
            font-size: 18px;
            line-height: 50px;
            margin-left: 10px;
            color: #ff0000;
          }


        }
      }
      .join-btn-submit {
        width: 308px;
        height: 62px;
        margin: 30px auto;
        background-image: linear-gradient(90deg, #fcf7b7 0%, #ec8f52 100%);
        background-blend-mode: normal, normal;
        border-radius: 39px;
        cursor: pointer;
        font-size: 35px;
        line-height: 62px;
        font-weight: bold;
        color: #31070b;
        text-align: center;
      }
    }
  }
}
// 滚动条
::-webkit-scrollbar{
  width: 10px;
  background: rgba(0,0,0,0);
  border-radius: 8px;
}
::-webkit-scrollbar-track{
  background: rgba(0,0,0,0);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: #1b2a47;
  border-radius: 10px;
}